{% extends 'forumapp/base.html' %}
{% block styles_specifiques %}
    <style>
        #id_desc_probleme
        {
            height:150px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <label for="titre">Titre</label>
                    <p id="titre">{{ form.titre_probleme }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="id_desc_probleme">Description</label>
                    <p id="id_desc_probleme"> {{ form.desc_probleme }}</p>
                </div>
            </div>
                    <input class="btn btn-info" type="submit" value="Enregistrer">
                    <input class="btn btn-danger" type="reset" value="Annuler">

        </form>
        </div>
    </div>
<br />
{% for c in post.commentaire_set.all %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Ajouté le {{ c.created_at }}
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <p id="id_commentaire_probleme">{{ c.commentaire }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endfor %}
<br />

{% if post %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Nouvelle réponse
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token %}
                                    {{ comment_form.commentaire }}
                            <br />
                            <input type="submit" value="Ajouter commentaire" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endif %}
{% endblock %}
