{% extends 'forumapp/base.html' %}
{% block styles_specifiques %}
    <style>
        #id_desc_probleme
        {
            height:150px;
        }
    </style>
{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <a class="btn btn-outline-info" href="{% url 'forumapp:index' %}" role="button">Retour liste des sujets</a>
    </div>
</div>
<br />

<div class="container">
    <div class="form-group">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <label for="titre">Titre</label>
                <p id="titre">{{ form.titre_probleme }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="id_desc_probleme">Description</label>
                <p id="id_desc_probleme"> {{ form.desc_probleme }}</p>
            </div>
        </div>

        <!-- Gestion des boutons de soumission/annulation formulaire en fonction de s'il s'agit d'une édition ou d'une création -->
        {% if post and not user.is_staff %}
            <input class="btn btn-info" type="submit" value="Modifier" style="display:none">
            <input class="btn btn-danger" type="reset" value="Annuler" style="display:none">
        {% elif post and user.is_staff %}
            <input class="btn btn-info" type="submit" value="Enregistrer">
        {% else %}
            <input class="btn btn-info" type="submit" value="Enregistrer">
            <input class="btn btn-danger" type="reset" value="Annuler">
        {% endif %}

    </form>
    </div>
</div>
<br />
{% for c in commentaires %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Ajouté le {{ c.created }} par {{ c.who }}
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <p id="id_commentaire_probleme">{{ c.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endfor %}
<br />

{% if post %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Nouvelle réponse
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token %}
                                    {{ comment_form.commentaire }}
                            <br />
                            <input type="submit" value="Ajouter commentaire" class="btn btn-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endif %}
{% endblock %}
