<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        {% block styles %}
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{% static 'forumapp/style.css' %}?20200812" />
        <title>Création de problème</title>
        <style  type="text/css">
            .card
            {

                width: 600px;
            }

            #id_desc_probleme
            {
                height: 100px;
            }
            #id_membre_createur_probleme
            {
                width: 180px;
            }
            #btn_ajout_commentaire
            {
                position: absolute;
                top: 100px;
                left: 710px;
            }

             #id_commentaire_probleme
            {
                height: 100px;
            }
            #id_commentaire
            {
                height: 100px;
            }
           .table
           {
            position: absolute;
            top:80px;
            padding-top: 0px;
            margin-top:0px;
           }

        </style>
        {% endblock %}
    </head>
<body>
    <nav class="navbar fixed-top navbar-light" style="background-color: #dee0df;">
        {% if problem.titre_probleme %}
            <a class="navbar-brand" href="{% url "forumapp:index" %}">Modifier votre problème ici </a>
        {% else %}
            <a class="navbar-brand" href="{% url "forumapp:index" %}">Créer votre problème ici </a>
        {% endif %}
    </nav>
        <table class="table">
         <div class="card">
                 <tr>
                    <td>
                        <form action="" method="post">
                            {% csrf_token %}
                             <div class="card" id="card_creation">
                                 <div class="card-header">
                                     Allez-y !
                                 </div>
                                  <div class="card-body">
                                    <div class="form-group">
                                        <label for="titre">Titre</label>
                                        <p id="titre">{{ form.titre_probleme }}</p>
                                        <label for="id_desc_probleme">Description</label>
                                        <p id="id_desc_probleme"> {{ form.desc_probleme }}</p>
                                        <label for="id_membre_createur_probleme">Créé par</label>
                                        <p id="id_membre_createur_probleme"> {{ form.membre_createur_probleme }}</p>
                                            {% load bootstrap4 %}
                                            {% bootstrap_css %}
                                            {% bootstrap_javascript jquery='full' %}
                                        <label for="id_commentaire_probleme">Commentaire additionnel</label>
                                        <p id="id_commentaire_probleme"> {{ form.commentaire_probleme }}</p>
                                        <label for="id_date_publicaiton">Date de publication</label>
                                        <p id="id_date_publicaiton">{{ form.date_publicaiton }}</p>
                                        <label>Probleme résolu ?</label>
                                        <p>{{ form.resolu_probleme }}</p>
                                        <input class="btn btn-primary" type="submit" value="Enregistrer">
                                        <input class="btn btn-danger" type="reset" value="Annuler">
                                    </div>
                                  </div>
                             </div>
                        </form>
                    </td>

                    {% if post %}
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            {{ comment_form.commentaire }}
                            <br />
                            <input type="submit" value="Ajouter commentaire" class="btn btn-primary">
                        </form>
                        <br />
                        {% for c in post.commentaire_set.all %}
                        <div class="card">
                            <div class="card-header">
                             Ajouté le {{ c.created_at }}
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                        <p id="id_commentaire_probleme">{{ c.commentaire }}</p>
                                </div>
                            </div>
                        </div>
                        <br/>
                        {% endfor %}
                    </td>
                        {% endif %}
                 </tr>
         </div>
        </table>
</body>
</html>