<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{% static 'forumapp/style.css' %}?20200812" />
        <title>Edition</title>
    </head>
<body>
    <nav class="navbar navbar-light" style="background-color: #dee0df;">
        <a class="navbar-brand" href="#">Des trucs à modifier?</a>
    </nav>

    <p>Test</p>
</body>
</html>