{% extends 'forumapp/base.html' %}

{% block styles_specifiques %}

<style type="text/css">
.card-text {
        padding-bottom : 0px;
        margin-bottom: 1px;
                }
#bouillant, #toutchaud {
        font-style: italic;
            }
</style>
{% endblock %}


{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <a class="btn btn-outline-info" href="{% url 'forumapp:creation_problem' %}" role="button">Créer un sujet</a>
    </div>
</div>
<br>

<!-- Bloc Gauche Begin -->
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-3">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">< <font size="5pt"><strong>{{ problems_count|length }}</strong></font> sujets ></div>
                    <div class="card-body">

                        <!-- sujets les plus commentés -->
                        <h5 class="card-title" id="bouillant">#Bouillants</h5>
                        {% for c in comments_per_problems %}
                        <p class="card-text"><a href="{% url 'forumapp:edit_problem' c.probleme_id %}">{{ c.probleme__titre_probleme }}</a></p>
                        {% endfor %}
                    </div>
                    <div class="card-body">

                        <!-- sujets récents -->
                        <h5 class="card-title" id="toutchaud">#ToutChaud</h5>
                        {% for p in problems_recent %}
                        <p class="card-text"><a href="{% url 'forumapp:edit_problem' p.id %}">{{ p.titre_probleme }}</a></p>
                        {% endfor %}
                    </div>

                </div>
            </div>
<!-- Bloc Gauche End -->

<!-- Liste des Sujets -->
            <div class="col align-self-start">
                {% for p in problems_list %}
                <div class="card">
                  <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'forumapp:edit_problem' p.id %}">{{ p.titre_probleme }}</a><span style="float:right"><a class="btn btn-primary btn-sm" href="{% url 'forumapp:favorite' p.id %}">Ajouter aux favoris</a></span></h5>
                      <p class="card-text">{{ p.desc_probleme }}</p>

                    <p class="card-text"><small class="text-muted"> Créé par {{ p.created_by }}, le {{ p.created_at }} --- {{ p.nb_com }} Réponse(s)</small></p>
                  </div>
                </div>
                <br />
                <br />
                {% endfor %}
            </div>
        </div>
    </div>

<!-- Pagination -->
{% if problems_list.has_other_pages %}
<div class="container">
    <div class="row justify-content-center">
        <nav aria-label="Search results pages">
            <ul class="pagination">

            <!-- Gestion de la page précédente -->
            {% if problems_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
            {% endif %}

            <!-- Gestion de la page active -->
            {% for i in paginator.page_range %}
                {% if i == problems_list.number %}
                    <li class="page-item active">
                      <a class="page-link">{{ i }}<span class="sr-only">(current)</span></a>
                    </li>

            <!-- Gestion des autres pages classiques -->
                {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}

                <!-- Gestion de la page suivante -->
                {% if problems_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-disabled="true">Next</a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>
{% endif %}
{% endblock %}
