{% extends 'forumapp/base.html' %}
{% block content %}

{% for p in problems %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ p.titre_probleme }}</h5>
                    <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">{{ p.desc_probleme }}</p>
            <!--        <a href="#" class="card-link">Card link</a>-->
            <!--        <a href="#" class="card-link">Another link</a>-->
                  </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock %}
